body{
    margin: 0;
    padding: 0;
    background-color: #171718;
}
#megustas{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171718;
}
#corazon{
    height: 70px;
    width: 70px;
    background-color: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    right: -6%;
    animation: corazon 0.6s linear infinite ;
}
@keyframes corazon{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}
#corazon::before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}
#corazon::after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}
#ilike{
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    vertical-align: bottom;
    bottom: -100px;
    right: 3.5%;
    font-style: oblique;
}

#pregunta{
    width: 100%;
    background-color: #171718;
}
#pregunta p{
    margin: 0;
    color: aliceblue;
    text-align: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}
.pregunta{
    margin: 35px;
    font-size: 50px;
    color: transparent;
    text-align: center;
    text-decoration: none;
    background-image: url(../IMG/descarga.jpg);
    background-size:70px ;
    background-position: right;
    -webkit-background-clip:text;
    filter: drop-shadow(0 0 4px #ee8a8a);
    font-style: oblique;
}

#pregunta .respuesta{
    display: flex;
    justify-content: space-between;
}
#pregunta #si{
    display: inline-block;
    width: 40%;
    height: 80px;
    background-image: url(../IMG/ปักพินโดย\ ~박\ 운나~\ ใน\ Подкроватье\ _\ การออกแบบโปสเตอร์\,\ สวย\,\ วอลเปเปอร์โทรศัพท์.jpg);
    background-size: 100% 160px;
    background-position: center;
    background-repeat: space;
    color: #cfc2df;
    font-size: 24px;
    font-style: oblique;
    border: none;
    border-radius: 25px;
    filter: drop-shadow(0 0 4px #c42c2c);
}
#pregunta #no{
    display: inline-block;
    width: 40%;
    height: 80px;
    background-image: url(../IMG/rechazo.jpg);
    background-size: 100% 160px;
    background-position: center;
    background-repeat: space;
    color: #cfc2df;
    font-size: 24px;
    font-style: oblique;
    border: none;
    border-radius: 25px;
    filter: drop-shadow(0 0 4px #c42c2c);
}